@page
@model UniversityMedicalRecord.Pages.Homepage.IndexModel

@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>